[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

python-telegram-bot = "*"
requests = "*"
"beautifulsoup4" = "*"
"boto3" = "*"
tradeioapi = {git = "https://github.com/hcv57/tradeio-api-python"}


[dev-packages]

pytest = "*"


[requires]

python_version = "3.5"
